name: Build Plugin

on:
  push:
    branches:
      - main
      - 1.6.0
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      NEXUS_USER: ${{ secrets.NEXUS_USER }}
      NEXUS_PASSWORD: ${{ secrets.NEXUS_PASSWORD }}
      AES_KEY: ${{ secrets.AES_KEY }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Cache Gradle dependencies
        uses: actions/cache@v4
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Build with Gradle
        run: ./gradlew clean build

      - name: Zapisz raport Gradle Actions
        run: |
          mkdir -p build/reports/gradle-actions
          latest_report=$(ls /home/runner/work/_temp/.gradle-actions/build-results/__run_* | tail -n 1)
          cp "$latest_report" build/reports/gradle-actions/build-results.json

      - name: Upload build results
        uses: actions/upload-artifact@v4
        with:
          name: gradle-build-results
          path: build/reports/gradle-actions/build-results.json
      - name: Upload JAR
        uses: actions/upload-artifact@v4
        with:
          name: PunisherX-latest-DEV.jar
          path: build/libs/*.jar

  dependency-submission:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Generate and submit dependency graph
        uses: gradle/actions/dependency-submission@v5
